.login-container {
    height: calc(100% - 50px);

    /* 开启弹性布局 */
    display: flex;
    /* 水平对齐 */
    justify-content: center;
    /* 垂直方向对齐 */
    align-items: center;
}

.login-dialog {
    width: 400px;
    height: 300px;
    background-color: rgba(32,33,36,0.75);
    /* 圆角 */
    border-radius: 30px;
    
}

/* 标题 */
.login-dialog h2 {
    text-align: center;
    /* 设置内边距，上下50 */
    padding: 50px 0;
    color: rgb(20, 132, 84);
    font-family:'微软雅黑';
    text-shadow: 0 0px 6px #66FF99 /*设置文字阴影*/
}

/* 针对一行设置样式 */
.login-dialog .row {
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(210,197,113);
}

.login-dialog .row span {
    /* 让字体宽度一样，对齐 */
    width: 100px;
    /* 字体变粗 */
    font-weight: 700;
    font-family:'微软雅黑';
    text-shadow: 0 0px 6px #66FF99 /*设置文字阴影*/
}

#username,#password {
    width: 200px;
    height: 35px;

    font-size: 20px;
    /* 行高设置 */
    line-height: 40px;
    padding-left: 10px;

    /* 去掉边框 */
    border: none;
    /* 去掉选择时候的轮廓线 */
    outline: none;
    border-radius: 60px;
    font-family:'华文琥珀';
    text-shadow: 0 0px 7px #423940; /*设置文字阴影*/
    margin-top: 7px;

    
}

#submit {
    width: 300px;
    height: 50px;
    font-family:'微软雅黑';

    background-color: rgb(49, 67, 66);
    color: white;
    border: none;
    outline: none;
    border-radius: 100px;

    /* 距离上方高度 */
    margin-top: 10px;
    /* 点击下去有3秒渐变 */
    transition: .3s;
    margin-right: 5px;
}

#submit:active {
    /* 点击后反应 */
    background-color: 49, 67, 66;
    

    /* 透明度 */
    opacity: 0.4;
  transition: 0s;
    
}

#register {
    width: 300px;
    height: 50px;
    font-family:'微软雅黑';

    background-color: rgb(49, 67, 66);
    color: white;
    border: none;
    outline: none;
    border-radius: 100px;

    /* 距离上方高度 */
    margin-top: 5px;
    /* 点击下去有3秒渐变 */
    transition: .3s;
}

#register:active {
    /* 点击后反应 */
    background-color: #47062e;
    

    /* 透明度 */
    opacity: 0.4;
  transition: 0s;
    
}